
.header{
  grid-area: header;
  display: flex;
  background-color: black;
  height: 150px;
  align-items: center;
  justify-content: center;
}
#logo{
  height: 100px;
  width: 100px;

}

.fondologo{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  box-shadow: 0 0 20px blue, inset 0 0 50px blue;
  animation-name: fondologo;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;

}

@keyframes fondologo {
  0%{box-shadow: 0 0 20px blue, inset 0 0 50px blue; transform: rotate(0deg);}
  50%{box-shadow: 0 0 40px red, inset 0 0 50px red;}
  100%{box-shadow: 0 0 20px blue, inset 0 0 50px blue;transform: rotate(360deg);}
}

#titulo{
color: white;
font-size: 100px;
text-shadow: 0 0 30px blue;
padding-left:50px;
animation-name: title;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
@keyframes title {
  0%{text-shadow: 0 0 30px blue;}
  50%{text-shadow: 0 0 40px red;}
  100%{text-shadow: 0 0 30px blue;}
}
/*menu*/
.navegacion{
  padding-top: 0px;
  grid-area: barra;
  border-top:3px solid red;
  border-bottom: 3px solid red;
  background-color: black;


}
.enlace{
  display: inline-flex;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
 left: 250px;
 bottom: 50px;
  font-size: 40px;
}
.enlace:hover{
  text-decoration: none;
  color:white;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #1C1B20;
  border-bottom: 3px solid white;
  box-shadow:inset 5px 5px 20px 10px blue ;
  font-size: 42px;
}
.etiquetaMenu{
  text-decoration: none;
  color: white;
}
.caja1{
  grid-area: textoizq;
  background-color: #222124;

}
.textocaja1{
  font-size: 25px;
  color: white;
  margin-top: 100px;
  margin-left: 180px;
  text-align: left;
  width: 700px;
  border: 1px solid red;
  border-radius: 10px;
}
#texto1{
  display: flex;
  justify-content: center;
}
.caja2{
  display: flex;
  flex-direction: column;
  grid-area: imagender;
  background-color: #222124;
  align-items: center;
  border: 2px solid red;
  border-top: none;
  border-bottom: none;

}
.imagenes{
  border: 2px solid white;
  border-radius: 50%;
  margin: 10px;
}
.imagenes{
  border: 2px solid white;
  border-radius: 50%;
  margin: 10px;
  margin-left: -60px;
  margin-right: -60px;
}
#imagen1{
  width: 300px;
}
#imagen2{
    width: 400px;
}
#imagen3{
  width: 340px;
}
.caja3{
  display: flex;
  flex-direction: column;
  grid-area: imagenetexto;
  background-color: #222124;
    align-items: center;
}

.imagen789{

  width: 500px;
  border-radius: 20px;
  box-shadow: 0 0 5px red;

}

.textoImagen{
  color: white;
  font-size: 25px;
}
.foot{
  display: flex;
  flex-direction: column;
  grid-area: contacto;
  background-color: black;
  border-top: 2px solid grey;
  height: 200px;
  align-items: center;
  justify-content: space-around;

}
#imagen4{
  width: 100px;
  margin-right: 100px;
  margin-left: 100px;


}
#imagen5{
  width: 150px;
  margin-right: 100px;
  margin-left: 100px;
}
#imagen6{
  width: 130px;
  margin-right: 100px;
  margin-left: 100px;
}
#whatsapp{
  color: white;
  font-size: 25px;
  margin-top: -20px;
}
.textocontacto{
  display: flex;
  align-items: center;

}
.card{
  margin-bottom: 40px;
  
}

.footerlink{
  color: white;
  font-size: 25px;
  margin-top: -50px;
  margin-right: 130px;
  margin-left: 120px;
  position: relative;
  left: 100px;
}
.footerlink:hover{
  color: red;
}
.padre{
  display: grid;
  grid-template-areas:
  'header header header header'
  'barra barra barra barra'
  'textoizq textoizq imagender imagender'
  'imagenetexto imagenetexto imagender imagender'
  'imagenetexto imagenetexto imagender imagender'
  'contacto contacto contacto contacto';
  grid-template-rows: auto 60px auto auto auto;
  grid-template-columns: auto auto auto auto;
}
.padre > div {
  padding: 20px ;
  font-size: 30px;
}
/* a partir de aqui style contacto*/
.formulario{
  display: flex;

  justify-content: center;
  grid-area: formulario;
  background-color: #222124;


}
#contacto_nav{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  height: 600px;
  border: 2px solid red;
  margin-top: 50px;

}

.formulario2{
  display: flex;
  flex-direction: column;
  color: white;
}
.formulario1{
  width: 200px;
}


#label_comentario{
  color: white;
  margin-top: 10px;
  position:relative;
  left: 30px;
}

#comentario{
  border-radius: 10px;
  width: 450px;
  height: 300px;
  position: relative;
  left: 20px;
}
#enviar{
  width: 70px;
}
.enlacecontacto{
  display: inline-flex;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
 left: 250px;
 bottom: 40px;
  font-size: 40px;
}
.enlacecontacto:hover{
  text-decoration: none;
  color:white;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #1C1B20;
  border-bottom: 3px solid white;
  box-shadow:inset 5px 5px 20px 10px blue ;
  font-size: 42px;
}
.padre2{
  display: grid;
  grid-template-areas:
  'header header header header'
  'barra barra barra barra'
  'formulario formulario formulario formulario'
  'contacto contacto contacto contacto';
  grid-template-rows: auto 60px auto auto ;
  grid-template-columns: auto auto auto auto;
}
.padre2 > div {
  padding: 20px ;
  font-size: 20px;
}

/* a partir de aqui comienza styles de la pagina nosotros.html*/
.mapa{
  display: flex;
  grid-area: mapa;
  background-color: #222124

}
.textoNosotros{
  grid-area: textoNosotros;
  background-color: #222124;

}

.mapalocal{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 250px;

  color: white;
  font-size: 35px;
}
#mapa1{
  width: 400px;
  height: 300px;
  border-radius: 10px;
}
.ubicacion{
  display: flex;
  line-height: 50px;
  margin-top: 150px;
  color: white;
  font-size: 25px;
  justify-content: center;


}

.padre3{
  display: grid;
  grid-template-areas:
  'header header header header'
  'barra barra barra barra'
  'mapa mapa textoNosotros textoNosotros'
  'mapa mapa textoNosotros textoNosotros'
  'contacto contacto contacto contacto';

  grid-template-rows: auto 60px 500px auto ;
  grid-template-columns: auto auto auto auto;

}
.padre3 > div {
  padding: 20px ;
  font-size: 20px;
}
/*a partir de aqui comienza el styles de la pagina tienda.html*/

.texto-venta{
  grid-area: textoventa;
  color: white;
  font-size: 30px;
  position:relative;
  left: 700px;
  bottom: 200px;
  width: 650px;
}
.apartadoventas{
    background-color: #222124;
    width: 1500px;
}

.ventas{
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-left: 200px;
  grid-area: img;
  border-radius: 20px;
  border: 2px solid red;
  width: 400px;
  height: 400px;
    background-color: #222124;

}
.btn-comprar {
  display: flex;
  flex-direction: column;
	border: none;
	padding: 10px;
	font-size: 22px;
	color: red;
	background: black;
	box-shadow: 2px 2px 10px 0px rgba(0,85,212,10.0);
  cursor: pointer;
  position: relative;
  top: 50px;
}

.btn-comprar:hover {
	background: black;
	color: white;
	box-shadow: 2px 2px 10px 0px rgba(255, 59, 38, 10.0);
}
.imgVenta1{
  display: flex;
  border-radius: 10px;
  width: 250px;
  height: 250px;
  align-items: center;

}


.padre4{
  display: grid;
  grid-template-areas:
  'header header header header'
  'barra barra barra barra'
  'img img textoventa textoventa'
  'img img textoventa textoventa'
  'contacto contacto contacto contacto';
  background-color: #222124;
  grid-template-rows: auto 60px 2500px auto ;
  grid-template-columns: auto auto auto auto;

}
.padre4 > div {
  padding: 20px ;
  font-size: 20px;

}

/* a partir de aqui comienza stiles para oferta.html*/


.texto-oferta{
  grid-area: textooferta;
  color: white;
  font-size: 30px;
  position:relative;
  left: 700px;
  bottom: 200px;
  text-shadow: 0 0 10px yellow;
  width: 640px;
}
#venta5,
#venta6,
#venta7,
#venta8{
  box-shadow: 0 0 10px yellow;
  animation-name: oferta-box;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
@keyframes oferta-box {
  0%{box-shadow: 0 0 10px yellow;}
  50%{box-shadow: 0 0 40px yellow;}
  100%{box-shadow: 0 0 10px yellow;}
}
.padre5{
  display: grid;
  grid-template-areas:
  'header header header header'
  'barra barra barra barra'
  'img img textooferta textooferta'
  'img img textooferta textooferta'
  'contacto contacto contacto contacto';
  grid-template-rows: auto 60px 2500px auto ;
  grid-template-columns: auto auto auto auto;

}
.padre5 > div {
  padding: 20px ;
  font-size: 20px;
}
body{
  margin: 0px;
}
/* aplicando responsive*/
@media screen and (max-width: 330px){
  .header{
    grid-area: header;
    display: flex;
    background-color: black;
    height: 50px;
    justify-content:  left;
  }
  #logo{
    height: 30px;
    width: 30px;

  }

  .fondologo{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    box-shadow: 0 0 50px blue, inset 0 0 50px blue;

  }
  #titulo{
  color: white;
  font-size: 20px;
  text-shadow: 0 0 30px blue;
  padding-left:20px;
  }
  .navegacion{
    padding-top: 0px;
    grid-area: barra;
    border-top:1px solid red;
    background-color: black;
  }
  .enlace{
    display: inline-flex;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    left: -20px;
    bottom: 50px;
    font-size: 9px;
  }
  .enlace:hover{
    text-decoration: none;
    color:white;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #1C1B20;
    border-bottom: 3px solid white;
    box-shadow:inset 5px 5px 20px 10px blue ;
    font-size: 10px;
  }
  .caja1{
    grid-area: textoizq;
    background-color: #222124;

  }
  .textocaja1{
    font-size: 10px;
    color: white;
    margin-top: 20px;
    margin-left: 0px;
    position: relative;
    left: 10px;
    text-align: left;
    width: 250px;
    border: 1px solid red;
    border-radius: 10px;
  }
  .caja2{
    display: flex;
    grid-area: imagender;
    background-color: #222124;
    align-items: center;
    border: 1px solid red;
    border-left: none;
    border-right: none;

  }

  .imagenes{
    border: 1px solid orange;
    border-radius: 50%;
    margin: 10px;
    margin-right: 50px;
    position: relative;
    left: 25px;

  }
  #imagen1{
    width: 100px;
  }
  #imagen2{
      width: 200px;
  }
  #imagen3{
    width: 140px;
  }
  .caja3{
    display: flex;
    flex-direction: column;
    grid-area: imagenetexto;
    background-color: #222124;

    justify-content: flex-start;
  }

  .imagen789{
    display: flex;
    flex-direction: column;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0 0 5px red;
    position: relative;
    right: 0px;
  }

  .textoImagen{
    display: flex;
    flex-direction: column;
    color: white;
    width: 200px;
    font-size: 10px;
    position: relative;
    right: 20px;
  }
  .foot{
    display: flex;

    grid-area: contacto;
    background-color: black;
    border-top: 2px solid grey;
    height: 200px;
    align-items: left;


  }
  #imagen4{
    width: 50px;
    position: relative;
    right: 80px;


  }
  #imagen5{
    width: 100px;
    position: relative;
    right: 105px;
  }
  #imagen6{
    width: 80px;
    position: relative;
    right: 95px;
  }
  #whatsapp{
    color: white;
    font-size: 15px;
    position: relative;
    left: 110px;
    bottom: 50px;

  }
  #instagram{
    position: relative;
    top: 25px;
  }
  #facebook{
    position: relative;
    bottom: 25px;
  }
  .textocontacto{
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
    bottom: 100px;
    right: 140px;
  }


  .footerlink{
    color: white;
    font-size: 15px;
    margin-top: 0px;


  }
  .footerlink:hover{
    color: red;
  }
  body{
    margin: 0px;
  }
  .padre{
    display: grid;
    grid-template-areas:
    'header header header header'
    'barra barra barra barra'
    'textoizq textoizq textoizq textoizq'
    'imagender imagender imagender imagender'
    'imagenetexto imagenetexto imagenetexto imagenetexto'
    'contacto contacto contacto contacto';
    grid-template-rows: auto 40px auto auto ;
    grid-template-columns: 60px 45.5px 100px 100px;
  }
  .formulario{
    display: flex;
    justify-content: center;
    grid-area: formulario;
    background-color: #222124;


  }
  #contacto_nav{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 450px;
    border: 2px solid red;
    margin-top: 50px;


  }

  .formulario2{
    color: white;
    font-size: 12px;
  }
  .formulario1{
    width: 50px;
    font-size: 10px;
  }


  #label_comentario{
    color: white;
    font-size: 12px;
    margin-top: 10px;
    position:relative;
    right: 30px;
  }


  #comentario{
    border-radius: 10px;
    width: 150px;
    height: 150px;
    position: relative;
    left: 25px;
  }
  #enviar{
    position: relative;
    left: 75px;
    width: 50px;
    font-size: 10px;

  }
  .enlacecontacto{
    display: inline-flex;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    left: -20px;
    bottom: 30px;
    font-size: 9px;
  }
  .enlacecontacto:hover{
    text-decoration: none;
    color:white;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #1C1B20;
    border-bottom: 3px solid white;
    box-shadow:inset 5px 5px 20px 10px blue ;
    font-size: 12px;
  }
  .padre2{
    display: grid;
    grid-template-areas:
    'header header header header'
    'barra barra barra barra'
    'formulario formulario formulario formulario'
    'contacto contacto contacto contacto';
    grid-template-rows: auto 40px auto auto ;
    grid-template-columns: 60px 45.5px 100px 100px;
  }
  .mapa{
    display: flex;
    grid-area: mapa;
    background-color: #222124

  }
  .textoNosotros{
    grid-area: textoNosotros;
    background-color: #222124;


  }

  .mapalocal{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px;

    color: white;
    font-size: 15px;
  }
  #mapa1{
    width: 200px;
    height: 150px;
    border-radius: 10px;
  }
  .ubicacion{
    display: flex;
    line-height: 30px;
    margin-top: 0px;
    color: white;
    font-size: 12px;
    justify-content: flex-start;
    margin-left: -20px;
    width: 250px;


  }

  .padre3{
    display: grid;
    grid-template-areas:
    'header header header header'
    'barra barra barra barra'
    'mapa mapa mapa mapa'
    'textoNosotros textoNosotros textoNosotros textoNosotros'
    'contacto contacto contacto contacto';
    grid-template-rows: auto 60px 250px auto ;
    grid-template-columns: 20px 10px 200px auto;


  }
  .padre3 > div {
    padding: 20px ;
    font-size: 20px;
  }
  .texto-venta{
    grid-area: textoventa;
    color: white;
    font-size: 10px;
    position:relative;
    left: 50px;
    bottom: 00px;
    width: 200px;
  }
  .apartadoventas{
      background-color: #222124;
      width: 300px;
      height: 1400px;
  }

  .ventas{
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
    grid-area: img;
    border-radius: 20px;
    border: 2px solid red;
    width: 200px;
    height: 200px;
    background-color: #222124;

  }
  .btn-comprar {
    display: flex;

    width: 60px;
    flex-direction: column;
  	border: none;
  	padding: 10px;
  	font-size: 12px;
  	color: red;
  	background: black;
  	box-shadow: 2px 2px 10px 0px rgba(0,85,212,10.0);
    cursor: pointer;
    position: relative;
    top: 10px;
  }

  .btn-comprar:hover {
  	background: black;
  	color: white;
  	box-shadow: 2px 2px 10px 0px rgba(255, 59, 38, 10.0);
  }
  .imgVenta1{
    display: flex;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    align-items: center;

  }


  .padre4{
    display: grid;
    grid-template-areas:
    'header header header header'
    'barra barra barra barra'
    'img img img img'
    'textoventa textoventa textoventa textoventa'
    'contacto contacto contacto contacto';
    background-color: #222124;
    grid-template-rows: auto 50px 1400px auto ;
    grid-template-columns: 20px 10px 10px 260px;

  }
  .padre4 > div {
    padding: 20px ;
    font-size: 20px;

  }
  .texto-oferta{
    grid-area: textooferta;
    color: white;
    font-size: 13px;
    position:relative;
    left: 20px;
    bottom: 0px;
    text-shadow: 0 0 10px yellow;
    width: 250px;
  }
  #venta5,
  #venta6,
  #venta7,
  #venta8{
    box-shadow: 0 0 10px yellow;
    animation-name: oferta-box;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
  }
  @keyframes oferta-box {
    0%{box-shadow: 0 0 10px yellow;}
    50%{box-shadow: 0 0 40px yellow;}
    100%{box-shadow: 0 0 10px yellow;}
  }
  .padre5{
    display: grid;
    grid-template-areas:
    'header header header header'
    'barra barra barra barra'
    'img img img img'
    'textooferta textooferta textooferta textooferta'
    'contacto contacto contacto contacto';
    grid-template-rows: auto 60px 1400px auto ;
    grid-template-columns: 20px 10px 10px 260px;

  }
}
