@media screen and  (max-width: 480px){
  .foot{
    display: flex;
    flex-direction: column;
    grid-area: contacto;
    background-color: black;
    border-top: 2px solid grey;
    height: 500px;
    width: 480px;
    justify-content: center;
    #imagen4{
        width: 50px;
        margin-right: 100px;
        margin-left: 100px;
      position: relative;
     
      right: 50px;
      }
      #imagen5{
        width: 80px;
        margin-right: 100px;
        margin-left: 100px;
        position: relative;
        right: 60px;
        top: 50px;
      }
      #imagen6{
        width: 70px;
        margin-right: 50px;
        margin-left: 100px;
        position: relative;
        right: 60px;
        top: 80px;
      }
      .textocontacto{
        display: flex;
      flex-direction: column;
        #whatsapp{
          
          color: $colorLetra;
          font-size: 14px;
          width: 200px !important;
          position: relative;
          left: 150px;
          bottom: 130px;
          }
       #facebook{
        position: relative;
        left: 50px;
        bottom: 10px;
       }

       #instagram{
        position: relative;
        top: 100px;

        left: 50px;
       }
          .footerlink{
            color: $colorLetra;
            font-size: 13px;
            margin-top: -50px;
            margin-right: 100px;
            margin-left: 100px;
            
            &:hover{
                color: red;
              }
          }
          
      }
  }
}

@media screen and (min-width: 481px ) and (max-width: 600px){
  .foot{
    display: flex;
    flex-direction: column;
    grid-area: contacto;
    background-color: black;
    border-top: 2px solid grey;
    height: 500px;
    width: 600px;
    justify-content: center;
    #imagen4{
        width: 50px;
        margin-right: 100px;
        margin-left: 100px;
      position: relative;
      bottom: 50px;
      right: 20px;
      
      }
      #imagen5{
        width: 80px;
        margin-right: 100px;
        margin-left: 100px;
        position: relative;
        right: 290px;
        top: 50px;
      }
      #imagen6{
        width: 70px;
        margin-right: 50px;
        margin-left: 100px;
        position: relative;
        right: 30px;
        top: 80px;
      }
      .textocontacto{
        display: flex;
        flex-direction: column;
        #whatsapp{
          color: $colorLetra;
          font-size: 17px;
          width: 150px;
          
          position: relative;
          left: 200px;
          bottom: 140px;

          }
       #facebook{
        position: relative;
        left: 120px;
        bottom: 20px;
       }

       #instagram{
        position: relative;
        top: 65px;
        left: 120px;
        
       }
          .footerlink{
            color: $colorLetra;
            font-size: 18px;
            margin-top: -40px;
            margin-right: 100px;
            margin-left: 100px;
            
            &:hover{
                color: red;
              }
          }
          
      }
  }
}
@media screen and (min-width: 601px ) and (max-width: 1024px){
  .foot{
    display: flex;
    flex-direction: column;
    grid-area: contacto;
    background-color: black;
    border-top: 2px solid grey;
    height: 200px;
    align-items: center;
    justify-content: space-around;
    #imagen4{
        width: 40px;
        margin-right: 100px;
        margin-left: 100px;
      }
      #imagen5{
        width: 70px;
        margin-right: 100px;
        margin-left: 100px;
      }
      #imagen6{
        width: 80px;
        margin-right: 100px;
        margin-left: 100px;
      }
      .textocontacto{
        display: flex;
        align-items: center;
       
        #whatsapp{
            color: $colorLetra;
            width: 200px;
            font-size: 20px;
            margin-top: -20px;
          }
          .footerlink{
            color: $colorLetra;
            font-size: 20px;
            margin-top: -50px;
            margin-right: 130px;
            margin-left: 120px;
            position: relative;
            left: 100px;
            &:hover{
                color: red;
              }
          }
          
      }
  }
}

@media screen and (min-width: 1025px) and (max-width: 2000px) {
.foot{
    display: flex;
    flex-direction: column;
    grid-area: contacto;
    background-color: black;
    border-top: 2px solid grey;
    height: 200px;
    align-items: center;
    justify-content: space-around;
       #imagen4{
        width: 100px;
        margin-right: 100px;
        margin-left: 100px;
      
      
      }
      #imagen5{
        width: 150px;
        margin-right: 100px;
        margin-left: 100px;
      }
      #imagen6{
        width: 130px;
        margin-right: 100px;
        margin-left: 100px;
      }
      .textocontacto{
        display: flex;
        align-items: center;
        #whatsapp{
            color: $colorLetra;
            font-size: 25px;
            margin-top: -20px;
          }
          .footerlink{
            color: $colorLetra;
            font-size: 25px;
            margin-top: -50px;
            margin-right: 130px;
            margin-left: 120px;
            position: relative;
            left: 100px;
            &:hover{
                color: red;
              }
          }
          
      }
  }
}