

@media screen and (max-width: 480px){
    /*responsive index*/
    
    
    .padre1{
        display: grid;
        grid-template-areas:
        'header header header header'
        'barra barra barra barra'
        'textoizq textoizq textoizq textoizq'
        'imagender imagender imagender imagender'
        'imagenetexto imagenetexto imagenetexto imagenetexto'
        'contacto contacto contacto contacto';
        grid-template-rows: auto 160px  auto auto auto ;
        grid-template-columns: 60px 40px auto auto ;
    }
   
    .caja1{
      display: flex;
    justify-content: center;
      width: 480px;
      grid-area: textoizq;
      background-color:#222124;
      height: 600px;
      
      .cajatexto{
        background-color: #222124;
      .textocaja1{
        font-size: 17px;
        color: white;
        margin-top: 20px;
        margin-left: 0px;
        
        text-align: left;
        width: 370px;
        border: 1px solid red;
        border-radius: 10px;
        position: relative;
        top: 200px;
        
        background-color: #222124;
      }
      }
    }
    
    .caja2{
      display: flex;
      width: 480px;
      flex-direction: column;
      grid-area: imagender;
      background-color: #222124;
      align-items: center;
      border: 1px solid red;
      border-left: none;
      border-right: none;
      
      
      .imagenes{
        
        border: 1px solid orange;
        border-radius: 50%;
        margin: 10px;
        margin-right: 50px;
        
        
      }
      #imagen1{
        width: 100px;
      }
      #imagen2{
          width: 200px;
      }
      #imagen3{
        width: 140px;
      }
    }
  
    
    
    .caja3{
      display: flex;
      flex-direction: column;
      grid-area: imagenetexto;
      background-color: #222124;
      justify-content: flex-start;
      align-items: center;
      width: 480px;
      height: 800px;
      .imagen789{
        display: flex;
        flex-direction: column;
        width: 250px;
        border-radius: 20px;
        box-shadow: 0 0 5px red;
        position: relative;
        top: 100px;
        right: 0px;
      }
      .textoImagen{
        display: flex;
        flex-direction: column;
        color: white;
        width: 250px;
        font-size: 15px;
        position: relative;
        top: 100px;
      }
    
  
    
  
   
    
    
   
    
  
  
   
    body{
      margin: 0px;
      
    }
    
    }
    /*responsive contacto*/
    
    .formulario{
      display: flex;
    justify-content: center;
      
      grid-area: formulario;
      background-color: #222124;
      position: relative;
      height: 800px;
      .cajacontacto{
        display: flex;
        position: relative;
        top: 100px;
        
    }
    #contacto_nav{
      display: flex;
      flex-direction: column;
      padding: 10px;
      border-radius: 10px;
      width: 300px;
      height: 450px;
      border: 2px solid red;
      margin-top: 50px;
    }
  
    .formulario2{
      display: flex;
      flex-direction: column;
      color: white;
      font-size: 12px;
      
    }
    .formulario1{
      
      width: 90px;
      font-size: 10px;
    }
  
  
    #label_comentario{
      color: white;
      font-size: 12px;
      margin-top: 10px;
      margin-left: 20px;
      
    }
  
  
    #comentario{
      
      border-radius: 10px;
      width: 150px;
      height: 150px;
      position: relative;
      top: 15px;
      left: 50px;
    }
    #enviar{
      position: relative;
      top: 30px;
      left: 100px;
      width: 50px;
      font-size: 10px;
  
    }
  }
    .enlacecontacto{
      display: inline-flex;
      padding-left: 5px;
      padding-right: 5px;
      position: relative;
      left: -20px;
      bottom: 30px;
      font-size: 9px;
    }
    .enlacecontacto:hover{
      text-decoration: none;
      color:white;
      padding-left: 5px;
      padding-right: 5px;
      background-color: #1C1B20;
      border-bottom: 3px solid white;
      box-shadow:inset 5px 5px 20px 10px blue ;
      font-size: 12px;
    }
    .padre2{
      display: grid;
      grid-template-areas:
      'header header header header'
      'barra barra barra barra'
      'formulario formulario formulario formulario'
      'contacto contacto contacto contacto';
      grid-template-rows: auto 160px auto auto ;
      grid-template-columns: 60px 220px 100px 100px;
    }
    /*responsive nosotros*/
    .mapa{
      display: flex;
      justify-content: center;
      grid-area: mapa;
      background-color: #222124
  
    }
    .textoNosotros{
      display: flex;
      justify-content: center;
      grid-area: textoNosotros;
      background-color: #222124;
      
      
    }
  
    .mapalocal{
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      
  
      color: white;
      font-size: 15px;
    }
    #mapa1{
      width: 200px;
      height: 150px;
      border-radius: 10px;
      position: relative;
      top: 150px;
    }
    #titulo-nosotros{
      position: relative;
      top: 150px;
    }
    .ubicacion{
      display: flex;
      line-height: 30px;
      margin-top: 0px;
      color: white;
      font-size: 12px;
      justify-content: flex-start;
      margin-left: -20px;
      width: 250px;
  
  
    }
  
    .padre3{
      display: grid;
      grid-template-areas:
      'header header header header'
      'barra barra barra barra'
      'mapa mapa mapa mapa'
      'textoNosotros textoNosotros textoNosotros textoNosotros'
      'contacto contacto contacto contacto';
      grid-template-rows: auto 160px 400px auto ;
      grid-template-columns: 60px 70px 100px auto;
  
  
    }
    .padre3 > div {
      padding: 20px ;
      font-size: 20px;
    }
    .texto-venta{
      grid-area: textoventa;
      color: white;
      font-size: 10px;
      position:relative;
      
      top: 200px;
      left: 50px;
      bottom: 00px;
      width: 200px;
    }
    .apartadoventas{
      display: flex;
      flex-direction: column;
      align-items: center;
      
        background-color: #222124;
        width: 480px;
        height: 1400px;
    }
  
    .ventas{
      display: flex;
      padding-top: 30px;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      margin-left: 50px;
      grid-area: img;
      border-radius: 20px;
      border: 2px solid red;
      width: 200px;
      height: 200px;
      background-color: #222124;
      position: relative;
      top: 200px;
  
    }
    
  
    .btn-comprar:hover {
        background: black;
        color: white;
        box-shadow: 2px 2px 10px 0px rgba(255, 59, 38, 10.0);
    }
    .imgVenta1{
      display: flex;
      border-radius: 10px;
      width: 100px;
      height: 100px;
      align-items: center;
  
    }
  
  
    .padre4{
      display: grid;
      grid-template-areas:
      'header header header header'
      'barra barra barra barra'
      'img img img img'
      'textoventa textoventa textoventa textoventa'
      'contacto contacto contacto contacto';
      background-color: #222124;
      grid-template-rows: auto 160px 1500px auto ;
      grid-template-columns: 60px 60px auto 100px;
  
    }
   
    .padre4 > div {
      padding: 20px ;
      font-size: 20px;
  
    }
    .texto-oferta{
      grid-area: textooferta;
      color: white;
      font-size: 13px;
      position:relative;
      top: 200px;
      left: 20px;
      
      text-shadow: 0 0 10px yellow;
      width: 250px;
    }
    #venta5,
    #venta6,
    #venta7,
    #venta8{
      box-shadow: 0 0 10px yellow;
      animation-name: oferta-box;
      animation-duration: 4s;
      animation-delay: 2s;
      animation-iteration-count: infinite;
    }
    @keyframes oferta-box {
      0%{box-shadow: 0 0 10px yellow;}
      50%{box-shadow: 0 0 40px yellow;}
      100%{box-shadow: 0 0 10px yellow;}
    }
    .padre5{
      display: grid;
      grid-template-areas:
      'header header header header'
      'barra barra barra barra'
      'img img img img'
      'textooferta textooferta textooferta textooferta'
      'contacto contacto contacto contacto';
      grid-template-rows: auto 160px 1400px auto ;
      grid-template-columns: auto auto auto auto ;
  
    }
    
  }
  @media screen and (min-width: 481px ) and (max-width: 600px){
    
   
    
    /*index*/
   
  .padre1{
      display: grid;
      grid-template-areas:
      'header header header header'
      'barra barra barra barra'
      'textoizq textoizq textoizq textoizq'
      'imagender imagender imagender imagender'
      'imagenetexto imagenetexto imagenetexto imagenetexto'
      'contacto contacto contacto contacto';
      grid-template-rows: auto 160px auto auto auto;
      grid-template-columns: 60px 170px auto auto;
  
  .caja1{
    display: flex;
    justify-content: center;
    grid-area: textoizq;
    background-color:#222124;
    height: 600px;
    width: 600px;
    .cajatexto{
      background-color: #222124;
    .textocaja1{
      font-size: 17px;
      color: white;
      margin-top: 20px;
      margin-left: 0px;
      position: relative;
      left: 10px;
      text-align: left;
      width: 500px;
      border: 1px solid red;
      border-radius: 10px;
      position: relative;
      top: 200px;
      background-color: #222124;
    }
    }
  }
  
  .caja2{
    width: 600px;
    display: flex;
    justify-content: center;
    grid-area: imagender;
    background-color: #222124;
    align-items: center;
    border: 1px solid red;
    border-left: none;
    border-right: none;
    
    
    .imagenes{
      display: flex;
      justify-content: center;
      border: 1px solid orange;
      border-radius: 50%;
      margin: 10px;
      margin-right: 20px;
      
      
    }
    #imagen1{
      width: 100px;
    }
    #imagen2{
        width: 150px;
    }
    #imagen3{
      width: 140px;
    }
  }

  
  
  .caja3{
    display: flex;
    flex-direction: column;
    grid-area: imagenetexto;
    background-color: #222124;
    justify-content: flex-start;
    align-items: center;
    height: 800px;
    width: 600px;
    .imagen789{
      display: flex;
      flex-direction: column;
      width: 250px;
      border-radius: 20px;
      box-shadow: 0 0 5px red;
      position: relative;
      top: 100px;
      right: 0px;
    }
    .textoImagen{
      display: flex;
      flex-direction: column;
      color: white;
      width: 250px;
      font-size: 15px;
      position: relative;
      top: 100px;
    }
  }

  body{
    margin: 0px;
    
  }
  
  }
  /*responsive contacto*/
  
  .formulario{
    display: flex;
    justify-content: center;
    
    grid-area: formulario;
    background-color: #222124;
    position: relative;
    height: 800px;
    .cajacontacto{
      display: flex;
      position: relative;
      top: 100px;
      
  }
  #contacto_nav{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    height: 450px;
    border: 2px solid red;
    margin-top: 50px;
  }

  .formulario2{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 12px;
    
  }
  .formulario1{
    
    width: 90px;
    font-size: 10px;
  }


  #label_comentario{
    color: white;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 20px;
    
  }


  #comentario{
    
    border-radius: 10px;
    width: 150px;
    height: 150px;
    position: relative;
    top: 15px;
    left: 50px;
  }
  #enviar{
    position: relative;
    top: 30px;
    left: 100px;
    width: 50px;
    font-size: 10px;

  }
}
  .enlacecontacto{
    display: inline-flex;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    left: -20px;
    bottom: 30px;
    font-size: 9px;
  }
  .enlacecontacto:hover{
    text-decoration: none;
    color:white;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #1C1B20;
    border-bottom: 3px solid white;
    box-shadow:inset 5px 5px 20px 10px blue ;
    font-size: 12px;
  }
  .padre2{
    display: grid;
    grid-template-areas:
    'header header header header'
    'barra barra barra barra'
    'formulario formulario formulario formulario'
    'contacto contacto contacto contacto';
    grid-template-rows: auto 160px auto auto ;
    grid-template-columns: 60px 220px auto 100px;
  }
  /*responsive nosotros*/
  .mapa{
    display: flex;
    justify-content: center;
    grid-area: mapa;
    background-color: #222124

  }
  .textoNosotros{
    display: flex;
    grid-area: textoNosotros;
    background-color: #222124;
    justify-content: center;
    
  }

  .mapalocal{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    

    color: white;
    font-size: 15px;
  }
  #mapa1{
    width: 250px;
    height: 200px;
    border-radius: 10px;
    position: relative;
    top: 150px;
  }
  #titulo-nosotros{
    position: relative;
    top: 150px;
  }
  .ubicacion{
    display: flex;
    line-height: 30px;
    margin-top: 0px;
    color: white;
    font-size: 12px;
    justify-content: flex-start;
    margin-left: -20px;
    width: 250px;


  }

  .padre3{
    display: grid;
    grid-template-areas:
    'header header header header'
    'barra barra barra barra'
    'mapa mapa mapa mapa'
    'textoNosotros textoNosotros textoNosotros textoNosotros'
    'contacto contacto contacto contacto';
    grid-template-rows: auto 160px auto auto ;
    grid-template-columns: auto auto auto auto;


  }
  .padre3 > div {
    padding: 20px ;
    font-size: 20px;
  }
  .texto-venta{
    grid-area: textoventa;
    color: white;
    font-size: 10px;
    position:relative;
    
    top: 200px;
    left: 50px;
    bottom: 00px;
    width: 200px;
  }
  .apartadoventas{
    display: flex;
    flex-direction: column;
    align-items: center;
    
      background-color: #222124;
      width: 600px;
      height: 1400px;
  }

  .ventas{
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
    grid-area: img;
    border-radius: 20px;
    border: 2px solid red;
    width: 200px;
    height: 200px;
    background-color: #222124;
    position: relative;
    top: 200px;

  }
  .btn-comprar {
    display: flex;

    width: 60px;
    flex-direction: column;
      border: none;
      padding: 10px;
      font-size: 12px;
      color: red;
      background: black;
      box-shadow: 2px 2px 10px 0px rgba(0,85,212,10.0);
    cursor: pointer;
    position: relative;
    top: 10px;
  }

  .btn-comprar:hover {
      background: black;
      color: white;
      box-shadow: 2px 2px 10px 0px rgba(255, 59, 38, 10.0);
  }
  .imgVenta1{
    display: flex;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    align-items: center;

  }


  .padre4{
    display: grid;
    grid-template-areas:
    'header header header header'
    'barra barra barra barra'
    'img img img img'
    'textoventa textoventa textoventa textoventa'
    'contacto contacto contacto contacto';
    background-color: #222124;
    grid-template-rows: auto 160px 1500px auto ;
    grid-template-columns: auto auto auto auto;

  }
 
  .padre4 > div {
    padding: 20px ;
    font-size: 20px;

  }
  .texto-oferta{
    grid-area: textooferta;
    color: white;
    font-size: 13px;
    position:relative;
    top: 200px;
    left: 20px;
    
    text-shadow: 0 0 10px yellow;
    width: 250px;
  }
  #venta5,
  #venta6,
  #venta7,
  #venta8{
    box-shadow: 0 0 10px yellow;
    animation-name: oferta-box;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
  }
  @keyframes oferta-box {
    0%{box-shadow: 0 0 10px yellow;}
    50%{box-shadow: 0 0 40px yellow;}
    100%{box-shadow: 0 0 10px yellow;}
  }
  .padre5{
    display: grid;
    grid-template-areas:
    'header header header header'
    'barra barra barra barra'
    'img img img img'
    'textooferta textooferta textooferta textooferta'
    'contacto contacto contacto contacto';
    grid-template-rows: auto 160px 1400px auto ;
    grid-template-columns: auto auto auto auto;

  }
  
}
  @media screen and (min-width: 601px ) and (max-width: 1024px){
    .padre1{
      display: grid;
      grid-template-areas:
      'header header header header'
      'barra barra barra barra'
      'textoizq textoizq imagender imagender'
      'imagenetexto imagenetexto imagender imagender'
      'imagenetexto imagenetexto imagender imagender'
      'contacto contacto contacto contacto';
      grid-template-rows: auto 250px auto auto auto;
      grid-template-columns: auto auto auto auto;
      div {
          padding: 20px ;
          font-size: 30px;
        }
      
    /*contenido index*/
    
    .caja1{
      grid-area: textoizq;
      background-color: $colorFondo;
      
      .textocaja1{
          font-size: 17px;
          color:  $colorLetra;
          margin-top: 100px;
          margin-left: 100px;
          text-align: left;
          width: 500px;
          border: 1px solid $bordes;
          border-radius: 10px;
          #texto1{
              display: $display;
              justify-content: center;
            }
    }
    }
    .caja2{
      display: $display;
      
      flex-direction: column;
      grid-area: imagender;
      background-color: $colorFondo;
      align-items: center;
      border: 2px solid $bordes;
      border-top: none;
      border-bottom: none;
      
        .imagenes{
          border: 2px solid white;
          border-radius: 50%;
          margin: 10px;
          margin-left: -60px;
          margin-right: -60px;
        }
        #imagen1{
          width: 150px;
        }
        #imagen2{
            width: 200px;
        }
        #imagen3{
          width: 200px;
        }
    }
    
    .caja3{
      display: $display;
      flex-direction: column;
      grid-area: imagenetexto;
      background-color: $colorFondo;
        align-items: center;
        .imagen789{
    
          width: 300px;
          border-radius: 20px;
          box-shadow: 0 0 5px red;
        
        }
        .textoImagen{
          color: $colorLetra;
          font-size: 18px;
        }
    }
    }
    
    /*estilos de la pagina contacto.html*/
    
    .padre2{
        display: grid;
        grid-template-areas:
        'header header header header'
        'barra barra barra barra'
        'formulario formulario formulario formulario'
        'contacto contacto contacto contacto';
        grid-template-rows: auto 250px auto auto ;
        grid-template-columns: auto auto auto auto;
        div {
            padding: 20px ;
            font-size: 20px;
          }
         
      /*contenido pagina contacto.html*/
      .formulario{
        display: $display;
        justify-content: center;
        grid-area: formulario;
        background-color: $colorFondo;
         #contacto_nav{
            display: $display;
            flex-direction: column;
            padding: 20px;
            border-radius: 10px;
            width: 600px;
            height: 600px;
            border: 2px solid $bordes;
            margin-top: 50px;
            .formulario2{
                display: $display;
                flex-direction: column;
                color: $colorLetra;
              }
              .formulario1{
                width: 200px;
              }
          }
          #label_comentario{
            color:  $colorLetra;
            margin-top: 10px;
            position:relative;
            left: 30px;
          }
          
          #comentario{
            border-radius: 10px;
            width: 450px;
            height: 300px;
            position: relative;
            left: 20px;
          }
          #enviar{
            width: 70px;
          }
      
      }
      
        }
    
     /*estilos de la pagina nosotros.html*/
    
     .padre3{
        display: grid;
        grid-template-areas:
        'header header header header'
        'barra barra barra barra'
        'mapa mapa mapa mapa  '
        'textoNosotros textoNosotros textoNosotros textoNosotros'
        'contacto contacto contacto contacto';
      
        grid-template-rows: auto 250px 500px auto ;
        grid-template-columns: auto auto auto auto;
        div {
            padding: 20px ;
            font-size: 20px;
          }
          
      /*contenido nosotros.html*/
      .mapa{
        display: $display;
        grid-area: mapa;
        background-color: $colorFondo;
        .mapalocal{
            display: $display;
            align-items: center;
            flex-direction: column;
            margin-left: 250px;
          
            color: $colorLetra;
            font-size: 24px;
            #mapa1{
                width: 400px;
                height: 300px;
                border-radius: 10px;
              }
          }
      }
      .textoNosotros{
        grid-area: textoNosotros;
        
        background-color: $colorFondo;
        .ubicacion{
            display: $display;
            line-height: 50px;
            position: relative;
            bottom: 50px;
            color: $colorLetra;
            font-size: 18px;
            justify-content: center;
          }
      }
      
      }
    
    
    
      /*estilos de la pagina ofertas.html*/
    
    
      .padre4{
        display: grid;
        grid-template-areas:
        'header header header header'
        'barra barra barra barra'
        ' img img img img '
        'textoventa textoventa textoventa textoventa'
        'contacto contacto contacto contacto';
        background-color: $colorFondo;
        grid-template-rows: auto 250px 2000px auto ;
        grid-template-columns: auto auto auto auto;
        div {
            padding: 20px ;
            font-size: 20px;
          }
           
      /*contenido pagina ofertas.html*/
      
      }
      
    
    
       /*estilos de la pagina tienda.html*/
    
    
       .padre5{
        display: grid;
      grid-template-areas:
      'header header header header'
      'barra barra barra barra'
      'img img img img'
      'textooferta textooferta textooferta textooferta'
      'contacto contacto contacto contacto';
      grid-template-rows: auto 250px 2000px auto ;
      grid-template-columns: auto auto auto auto;
        div {
            padding: 20px ;
            font-size: 20px;
          }
          
        }   
      /*contenido pagina tienda.html*/
      .apartadoventas{
        background-color: $colorFondo;
        width: 1040px;
        
        .ventas{
            display: $display;
            
            padding-top: 30px;
            flex-direction: column;
            align-items: center;
            margin-top: 100px;
            margin-left: 350px;
            grid-area: img;
            border-radius: 20px;
            border: 2px solid $bordes;
            width: 300px;
            height: 300px;
              background-color: $colorFondo;
              .imgVenta1{
                display: $display;
                border-radius: 10px;
                width: 200px;
                height: 200px;
                align-items: center;
              
              }
              
                
                .btn-comprar:hover {
                    background: $botonCompra;
                    color: $colorLetra;
                    box-shadow: 2px 2px 10px 0px rgba(255, 59, 38, 10.0);
                }
              
              
             
              
          }
          p{
            display: flex;
            justify-content: center;
            grid-area: textoventa;
            color:  $colorLetra;
            font-size: 20px;
            position:relative;
            left: 300px;
            
            width: 400px;
          }
    }
    
  }
  